body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

table {
  text-align: left;
  position: relative;
  width: 100%;
  border-collapse: collapse;
}
tr {
  border-bottom: 1px solid gainsboro !important;
}
th,
td {
  padding: 0.25rem;
  border-collapse: collapse;
  font-size: small;
}
tr.liteGray th {
  background: #f5f6fa;
}
tr.green th {
  background: green;
  color: white;
}
tr.purple th {
  background: purple;
  color: white;
}
th {
  background: white;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
}
